<!DOCTYPE html>
  <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Login Doubt Portal</title>
  </head>
  <body>

   <nav class="navbar navbar-light bg-light">
    <div class="row col-12">
    <div class="mx-4 col-1">
      <img src="images/cn_logo.jpg" width="30" height="30" alt="">
    </div>
    <div class="col-8">
      <h3>Home- TA</h3>
    </div>
        <div class="col-1 ">
	      <form class="form-inline" action="/display_doubts_ta" method="GET">
	        <button class="btn btn-primary mr-sm-4 my-2 px-3" type="submit">  Home  </button>
	      </form>
      </div>
<!--     <div class="row col-4"> -->
      <div class="col-1 ">
	      <form class="form-inline" action="/logout" method="POST">
	        <button class="btn btn-outline-danger mr-sm-4 my-2 px-3" type="submit">  Logout  </button>
	      </form>
      </div>
    </div>
  </nav>
    <div class="container">
	  <div class="card col-12 mt-4 mb-4">
	    <div class="card-body">
	      <h5 class="card-title"><%= rows[0].doubt_title %></h5>
	      <h6 class="card-text"><%= rows[0].doubt_description %><br>
	      <small class="card-subtitle mb-2 text-muted">Created by <%= rows[0].student_id %> at <%= rows[0].creation_timestamp %></small></h6>
	      <hr/>

	      <h5>Comments</h5>
	      <% if(rows[0].comment != null){ var comment_split = rows[0].comment.split(','); var commenter_split = rows[0].commenter.split(','); %>
	      <% for(var j=0; j < comment_split.length; j++) { %>
	      <p class="card-text mx-4 mp-4 col-5" id="comments" style="50%"><%= commenter_split[j]  %> : <%= comment_split[j]  %></p>
	      <hr/>
	      <% }}else{ %>
	      <p> No Comments!</p>
	      <% } %>

  	     <form name="rowform" method="POST" action="/escalate_doubt" value="something">
	      <p><input type="text" name="doubt_id" hidden="hidden" value="<%= rows[0].doubt_id %>"></p>
	      <button type="submit" class="btn btn-outline-danger mr-sm-4 my-2 px-3" value="something">Escalate doubt</button>
     	 </form>
	    </div>	
  	  </div>
  	  <div class="card col-12 mt-4 mb-4">
	    <div class="card-body">
	      <form name="rowform" method="POST" action="/solve_doubt" value="something">
          <div class="mb-3 col-6">
	          <label for="answer" class="form-label">Answer to Doubt</label>
	          <input type="text" class="form-control" name="username" id="answer" aria-describedby="emailHelp" required="">
 	       </div>
	      <p><input type="text" name="doubt_id" hidden="hidden" value="<%= rows[0].doubt_id %>"></p>
	      <button type="submit" class="btn btn-primary mr-sm-4 my-2 px-3" value="something">Solve doubt</button>
     	 </form>
	    </div>	
  	  </div>
  </div>

  </body>
</html>